# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio / VS Code
.idea/
.vscode/
*.iml
*.ipr
*.iws
out/

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/local.properties
android/**/*.app
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/app/src/main/assets/

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/runner/base.lproj/main.storyboardc
ios/runner/generatedpluginregistrant.h
ios/runner/generatedpluginregistrant.m

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# macOS
macos/flutter/ephemeral/

# Web
web/icons/Icon-192.png
web/icons/Icon-512.png
web/favicon.png

# Exceptions to above rules.
!/android/app/src/main/assets/public/

# Hive & Code Generation (build_runner)
# Dacă folosești generare de cod (json_serializable, hive_generator etc), 
# de obicei NU vrei să ignori fișierele .g.dart (trebuie să existe pe git),
# dar dacă preferi să le generezi la fiecare pull, le poți decomenta pe următoarele:
# *.g.dart
# *.freezed.dart

# Sensitive Keys (Dacă ai chei API hardcodate)
# lib/core/secrets.dart
spotify_indie/.env
